.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
:root {
  font-family: "Montserrat", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --cxmpute-green: #20a191;
  --cxmpute-pink: #fe91e8;
  --cxmpute-yellow: #f8cb46;
  --cxmpute-purple: #91a8eb;
  --cxmpute-slate: #d4d4cb;
}



@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container{
  height: 100vh;
}

/* disable styles for all a tags */
a {
  text-decoration: none;
  color: inherit;
}