.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
:root {
  font-family: "Montserrat", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --cxmpute-green: #20a191;
  --cxmpute-pink: #fe91e8;
  --cxmpute-yellow: #f8cb46;
  --cxmpute-purple: #91a8eb;
  --cxmpute-slate: #d4d4cb;
  --cxmpute-lightgreen: #97e1bd;
  --cxmpute-lightyellow: #f7e48c;
}



@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main{
  width: 100%;
}

/* disable styles for all a tags */
a {
  text-decoration: none;
  color: inherit;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: fit-content;
}

.referrals__container{
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 0px black;
  padding: 5px 10px;
  height: fit-content;
  align-items: center;
  transition: all 0.3s ease;
}

.referrals__container:hover{
  box-shadow: 7px 7px  0 black;
  transform: translateY(-3px) translateX(-3px);
}

.referrals__text{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  height: fit-content;
  background-color: var(--cxmpute-pink);
  border-radius: 10px;
  font-weight: 700;
  padding: 0px 5px;
}

.referrals__text span, .referrals__text p{
  margin: 0;
}

.referrals__button{
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  height: fit-content;
  background-color: var(--cxmpute-green);
  cursor: pointer;
}

.headeractions{
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__left h2{
  background-color: var(--cxmpute-purple);
  padding: 5px;
  border-radius: 10px;
}

.notifications__container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 5px 5px 0px black;
  padding: 5px 10px;
  height: fit-content;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--cxmpute-yellow);
}

.notifications__container:hover{
  box-shadow: 7px 7px  0 black;
  transform: translateY(-3px) translateX(-3px);
}

.profile__container{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.row__card{
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 0px black;
  flex: 1;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.row__header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.row__header h2{
  margin: 0;
}

.earnings__button{
  border: 0;
  outline: 0;
  background-color: var(--cxmpute-green);
  padding: 5px;
  border-radius: 10px;
  height: fit-content;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
}

.earnings{
  background-color: var(--cxmpute-lightgreen);
  flex: 1.25;
}

.row__content{
  display: flex;
  padding: 20px;
  gap: 20px;
}

.earnings__card{
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.earnings__container{
  flex: 1;
}

.earnings__right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.earnings__card h2{
  margin: 0;
  padding: 0;
  background-color: var(--cxmpute-lightgreen);
  border-radius: 10px;
  width: min-content;
}

.earnings__right h3{
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.connectivity__button{
  outline: 0;
  background-color: var(--cxmpute-lightgreen);
  padding: 5px;
  border-radius: 35px;
  height: fit-content;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  width: 100%;
  border: 2px solid black;
  margin-left: 20px;
}

.connectivity__row h3{
  margin: 0;
  padding: 0;
  text-align: center;
}

.connectivity__row p{
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-size: 13px; */
  color: #8a8a8a;
}

.row__footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--cxmpute-purple);
  padding: 10px;
  border-radius: 40px;
  border: 2px solid black;
  margin-top: 10px;
  font-weight: 700;
}

.connectivity__text{
  background-color: var(--cxmpute-lightgreen);
  border-radius: 5px;
}